{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome! Please Login.</p>
    <hr><br>
    <a href="/auth/linkedin/1" class="btn btn-default">LinkedIn</a>
    <a href="/auth/github/1" class="btn btn-default">Github</a>
    <a href="/auth/twitter/1" class="btn btn-default">Twitter</a>
    <a href="/auth/google/1" class="btn btn-default">Google</a>
    <a href="/auth/facebook/1" class="btn btn-default">Facebook</a>

    <a href="/auth/tumblr/1" class="btn btn-default">Tumblr</a>
    <a href="/auth/yahoo/1" class="btn btn-default">Yahoo</a>


  </div>

{% endblock %}
